@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply scroll-smooth;
  }
  
  body {
    @apply antialiased;
  }
  
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: rgb(243 244 246); /* gray-100 */
  }
  
  @media (prefers-color-scheme: dark) {
    ::-webkit-scrollbar-track {
      background-color: rgb(31 41 55); /* gray-800 */
    }
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #f8f8f8, #b3e1de); /* from-accent to-accent2 */
    border-radius: 9999px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(to bottom, #4ECDC4, #cecece); /* from-accent2 to-accent */
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap, 1rem)));
    }
  }
  
  .animate-marquee {
    animation: marquee var(--duration, 40s) linear infinite;
  }
}
